<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | DFI FaultReporting</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DFI.FaultReporting.Public.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.5.2-web/css/all.min.css" />
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.css" type="text/css">
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.js"></script>
    <script src="https://atlas.microsoft.com/sdk/javascript/service/2/atlas-service.min.js"></script>
    <script src="~/lib/azure-maps/azure-maps-fullscreen-control.min.js"></script>
    <script src="~/lib/azure-maps/azure-maps-html-marker-layer.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <div class="d-none d-xl-block">
                    <a class="navbar-brand" asp-page="/Index">
                        <img src="~/images/infrastructure-full_0.png" alt="Department for Infrastructure Logo" width="500" height="60" />
                    </a>
                </div>
                <div class="d-block d-xl-none d-xxl-none">
                    <a class="navbar-brand" asp-page="/Index">
                        <img src="~/images/dfi-logo-sm.png" alt="Department for Infrastructure Logo" />
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Index"><i class="fa-solid fa-house"></i> Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="fa-solid fa-circle-exclamation"></i> Faults</a>
                            <ul class="dropdown-menu bg-light">
                                <li><a class="dropdown-item" asp-page="/Faults/Faults"><i class="fa-solid fa-map-location-dot"></i> View faults</a></li>
                                <li><a class="dropdown-item" asp-page="/Faults/ReportFault/ReportFault"><i class="fa-solid fa-road-circle-exclamation"></i> Report a fault</a></li>
                                @if (User.Identity.IsAuthenticated == true)
                                {
                                    <li><a class="dropdown-item" asp-page="/Faults/MyReports"><i class="fa-solid fa-person-circle-exclamation"></i> My reports</a></li>
                                }
                            </ul>
                        </li>
                        @if (User.Identity.IsAuthenticated == false || User.Identity.IsAuthenticated == true && User.IsInRole("User"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="fa-solid fa-file-pen"></i> Claims</a>
                                <ul class="dropdown-menu bg-light">
                                    <li><a class="dropdown-item" asp-page="/Faults/Faults"><i class="fa-solid fa-file-circle-plus"></i> Submit a claim</a></li>
                                    @if (User.Identity.IsAuthenticated == true && User.IsInRole("User"))
                                    {
                                        <li><a class="dropdown-item" asp-page="/Faults/ReportFault/Step1"><i class="fa-solid fa-file"></i> My claims</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated == true && User.IsInRole("Contractor"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Index"><i class="fa-solid fa-screwdriver-wrench"></i> Jobs</a>
                            </li>
                        }
                        @{
                            if (User.Identity.IsAuthenticated == true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Account/Details" title="Account Details"><i class="fa-solid fa-user"></i> Account</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Account/Logout" title="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Account/Register" title="Register"><i class="fa-solid fa-user-plus"></i> Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Account/Login" title="Login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <br />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="navbar-light bg-light border-top footer text-muted box-shadow mb-3 fixed-bottom">
        <div class="container">
            &copy; 2024 - DFI Fault Reporting | <a asp-area="" asp-page="/Privacy">Privacy</a> |
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="~/images/dfi-logo-sm.png" alt="Department for Infrastructure Logo" />
            </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>