@page
@model DFI.FaultReporting.Admin.Pages.Admin.AdminMenuModel
@{
    ViewData["Title"] = "Admin menu";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>Select from one of the options below</h2>
    <hr />
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="small-tile">
                <a class="nav-link" aria-label="Staff admin link" title="Staff admin" asp-page="/Admin/StaffAdmin/Index"><i class="fa-solid fa-gear"></i> Staff admin</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="small-tile">
                <a class="nav-link" aria-label="Contractor admin link" title="Contractor admin" asp-page="/Admin/ContractorAdmin/Index"><i class="fa-solid fa-gear"></i> Contractor admin</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="small-tile">
                <a class="nav-link" aria-label="Claim status admin link" title="Claim status admin" asp-page="/Admin/ClaimStatusAdmin/Index"><i class="fa-solid fa-gear"></i> Claim status admin</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="small-tile">
                <a class="nav-link" aria-label="Claim type admin link" title="Claim type admin" asp-page="/Admin/ClaimTypeAdmin/Index"><i class="fa-solid fa-gear"></i> Claim type admin</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="small-tile">
                <a class="nav-link" aria-label="Fault status admin link" title="Fault status admin" asp-page="/Admin/FaultStatusAdmin/Index"><i class="fa-solid fa-gear"></i> Fault status admin</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="small-tile">
                <a class="nav-link" aria-label="Fault type admin link" title="Fault type admin" asp-page="/Admin/FaultTypeAdmin/Index"><i class="fa-solid fa-gear"></i> Fault type admin</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="small-tile">
                <a class="nav-link" aria-label="Fault priority admin link" title="Fault priority admin" asp-page="/Admin/FaultPriorityAdmin/Index"><i class="fa-solid fa-gear"></i> Fault priority admin</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="small-tile">
                <a class="nav-link" aria-label="Role admin link" title="Role admin" asp-page="/Admin/RoleAdmin/Index"><i class="fa-solid fa-gear"></i> Role admin</a>
            </div>
        </div>
    </div>
</div>