@page
@model DFI.FaultReporting.Admin.Pages.Admin.ContractorAdmin.CreateModel

@{
    ViewData["Title"] = "Add new contractor";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Fault Reporting create contractor">
<meta name="theme-color" content="#142062" />

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>Add details of new contractor</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                    <span><strong>Please review and correct the following errors:</strong></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Contractor.Email" class="form-control" />
                    <label asp-for="Contractor.Email" class="control-label"></label>
                    <span asp-validation-for="Contractor.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Contractor.ContractorName" class="form-control" />
                    <label asp-for="Contractor.ContractorName" class="control-label"></label>
                    <span asp-validation-for="Contractor.ContractorName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3" hidden>
                    <input asp-for="Contractor.InputBy" class="form-control" />
                    <label asp-for="Contractor.InputBy" class="control-label"></label>
                    <span asp-validation-for="Contractor.InputBy" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3" hidden>
                    <input asp-for="Contractor.InputOn" class="form-control" />
                    <label asp-for="Contractor.InputOn" class="control-label"></label>
                    <span asp-validation-for="Contractor.InputOn" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3" hidden>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Contractor.Active" /> @Html.DisplayNameFor(model => model.Contractor.Active)
                    </label>
                </div>
                <div class="btn-group">
                    <a asp-page="./Index" class="btn btn-lg btn-outline-secondary"><i class="fa-regular fa-circle-left"></i> Back</a>
                    &nbsp;
                    <button type="submit" class="btn btn-lg btn-outline-success"><i class="fa-regular fa-circle-check"></i> Create</button>
                </div>
            </form>
        </div>
    </div>
</div>