@page
@model DFI.FaultReporting.Admin.Pages.NoPermissionModel
@{
    ViewData["Title"] = "No permission";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>You cannot access this page</h2>
    <hr />
    <div class="alert alert-warning">
        <strong>Warning: </strong>
        <p>You do not have permission to view this page. Please contact a system administrator.</p>
    </div>
</div>