@page
@model DFI.FaultReporting.Admin.Pages.NoPermissionModel
@{
    ViewData["Title"] = "No permission";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Fault Reporting no permission">
<meta name="theme-color" content="#142062" />

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>You cannot access this page</h2>
    <hr />
    <div class="alert alert-warning">
        <strong>Warning: </strong>
        <p>You do not have permission to view this page. Please contact a system administrator.</p>
    </div>
</div>