@page
@model DFI.FaultReporting.Public.Pages.Faults.ReportFault.Step4Model
@{
    ViewData["Title"] = "Step 3";
}
<body onload="initReviewMap()">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <br />
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
        </div>
        <br />
        <h2>Review details and submit report</h2>
        <hr />
        <form id="reviewForm" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-center">
                        <div id="reviewMap" style="height: 500px; width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <div class="row" hidden>
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Fault.Latitude" id="lat" class="form-control" />
                                <label asp-for="Fault.Latitude" class="form-label"></label>

                            </div>
                        </div>
                    </div>
                    <div class="row" hidden>
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Fault.Longitude" id="long" class="form-control" />
                                <label asp-for="Fault.Longitude" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-floating mb-3">
                                <input asp-for="FaultType.FaultTypeDescription" id="faultType" class="form-control" disabled />
                                <label asp-for="FaultType.FaultTypeDescription" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Fault.RoadNumber" id="roadNumber" class="form-control" disabled />
                                <label asp-for="Fault.RoadNumber" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Fault.RoadName" id="roadName" class="form-control" disabled />
                                <label asp-for="Fault.RoadName" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Fault.RoadTown" id="roadTown" class="form-control" disabled />
                                <label asp-for="Fault.RoadTown" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Fault.RoadCounty" id="roadCounty" class="form-control" disabled />
                                <label asp-for="Fault.RoadCounty" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-floating mb-3">
                                <textarea asp-for="Report.AdditionalInfo" style="height: auto!important" id="additionalInfo" class="form-control" rows="10" disabled></textarea>
                                <label asp-for="Report.AdditionalInfo" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        @{
                            if (Model.ReportPhotos != null)
                            {
                                foreach (var photo in Model.ReportPhotos)
                                {
                                    <div class="col-sm-6 col-md-4 text-center">
                                        <img src="data:image/@photo.Type;base64,@photo.Data" class="img-thumbnail" />
                                        <br />
                                        <br />
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <br />
            <div class="btn-group">
                <button id="btnBack" asp-page-handler="Back" type="submit" class="btn btn-lg btn-outline-secondary"><i class="fa-regular fa-circle-left"></i> Back</button>
                &nbsp;
                <button id="btnSubmit" asp-page-handler="SubmitReport" type="submit" class="btn btn-lg btn-outline-success"><i class="fa-regular fa-circle-check"></i> Submit</button>
            </div>
        </form>
    </div>
    <br />
</body>
<script src="~/js/mapping/ReviewMap.js"></script>