@page
@model DFI.FaultReporting.Public.Pages.Faults.ReportFault.Step3Model
@{
    ViewData["Title"] = "Step 3";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">Step 3</div>
    </div>
    <br />
    <h2>Photos of fault</h2>
    <hr />
</div>