@page
@model DFI.FaultReporting.Public.Pages.Faults.ReportFault.SubmittedReportModel
@{
    ViewData["Title"] = "Fault report submitted";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>Thank you for submitting a fault report</h2>
    <hr />
    <div class="alert alert-success">
        <strong>Success: </strong>
        <p>You have successfully submitted a fault report. Your report will now be investigated by DFI staff.</p>
    </div>
</div>