@page
@model DFI.FaultReporting.Public.Pages.Claims.SubmitClaim.Step7Model
@{
    ViewData["Title"] = "Step 3";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:87.5%"></div>
    </div>
    <br />
    <h2>Upload supporting evidence for your claim</h2>
    <hr />
    <div class="alert alert-info">
        <strong>Info: </strong>
        <p>You are not required to upload any evidence, however doing so will help us assess your claim.</p>
        <p>Evidence may include receipts or doctors notes etc.</p>
        <p>You may upload a maximum of 5 files.</p>
    </div>
    <form id="photoUploadForm" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert">
            <span><strong>Please review and correct the following errors:</strong></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-floating mb-3">
                    <input id="fileUpload" name="SelectedFile" type="file" />
                    <label asp-for="SelectedFile" for="fileUpload" class="form-label" hidden>Upload photo</label>
                    <br />
                    <br />
                    <button id="uploadbutton" type="submit" class="btn btn-lg btn-outline-primary" asp-page-handler="Upload"><i class="fa-solid fa-upload"></i> Upload</button>
                    <br />
                    <span asp-validation-for="SelectedFile" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            @{
                if (Model.ClaimFiles != null)
                {
                    foreach (var file in Model.ClaimFiles)
                    {
                        <div class="col-md-2 text-center">
                            @if (file.Type == ".pdf")
                            {
                                <i class="fa-solid fa-file-pdf" style="color: red; font-size: 2rem;"></i>
                                <br />
                                @file.Description
                            }

                            @if (file.Type == ".doc" || file.Type == ".docx")
                            {
                                <i class="fa-solid fa-file-word" style="color: blue; font-size: 2rem;"></i>
                                <br />
                                @file.Description
                            }
                            <br />
                            <br />
                            <button id="btnRemoveFile" name="removeFileValue" value="@file.Description" asp-page-handler="RemoveFile" type="submit" class="btn btn-lg btn-outline-danger"><i class="fa-regular fa-trash-can"></i></button>
                            <br />
                            <br />
                        </div>
                    }
                }
            }
        </div>
        <hr />
        <br />
        <div class="btn-group">
            <button id="btnBack" asp-page-handler="Back" type="submit" class="btn btn-lg btn-outline-secondary"><i class="fa-regular fa-circle-left"></i> Back</button>
            &nbsp;
            <button id="btnNext" asp-page-handler="Next" type="submit" class="btn btn-lg btn-outline-primary">Next <i class="fa-regular fa-circle-right"></i></button>
        </div>
    </form>
</div>
<br />