@page
@model DFI.FaultReporting.Public.Pages.Claims.SubmitClaim.Step2Model
@{
}
<div class="container">
    <form id="step2NextForm" method="post">
        <div class="btn-group">
            <button id="btnBack" asp-page-handler="Back" type="submit" class="btn btn-lg btn-outline-secondary"><i class="fa-regular fa-circle-left"></i> Back</button>
            &nbsp;
            <button id="btnNext" asp-page-handler="Next" type="submit" class="btn btn-lg btn-outline-primary">Next <i class="fa-regular fa-circle-right"></i></button>
        </div>
    </form>
    <br />
</div>