@page
@model DFI.FaultReporting.Public.Pages.Claims.SubmitClaim.SubmittedClaimModel
@{
    ViewData["Title"] = "Compensation claim submitted";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>Thank you for submitting a compensation claim</h2>
    <hr />
    <div class="alert alert-success">
        <strong>Success: </strong>
        <p>You have successfully submitted a compensation claim. Your claim will now be investigated by DFI staff.</p>
    </div>
</div>
