@page
@model DFI.FaultReporting.Admin.Pages.Account.AccountLockedModel
@{
    ViewData["Title"] = "Account locked";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Fault Reporting account locked">
<meta name="theme-color" content="#142062" />

<h1>@ViewData["Title"]</h1>
<br />

<div class="alert alert-warning">
    <strong>Warning: </strong>
    <p>Your account has been locked due to too many invalid login attempts. Please try again in 30 minutes.</p>
</div>