@page
@model DFI.FaultReporting.Public.Pages.Account.AccountLockedModel
@{
    ViewData["Title"] = "Account locked";
}

<h1>@ViewData["Title"]</h1>
<br />

<div class="alert alert-warning">
    <strong>Warning: </strong>
    <p>Your account has been locked due to too many invalid login attempts. Please try again in 30 minutes.</p>
</div>