@page
@model DFI.FaultReporting.Public.Pages.Account.DetailsModel
@{
    ViewData["Title"] = "My Details";
}

<h1>@ViewData["Title"]</h1>
<br />

<div class="row">
    <div class="col-md-12">
        <section>
            <h2>Manage your account details/settings</h2>
            <hr />
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">

    </div>
</div>