@page
@model DFI.FaultReporting.Public.Pages.Account.DetailsModel
@{
    ViewData["Title"] = "My details";
}

<h1>@ViewData["Title"]</h1>
<br />

<div class="row">
    <div class="col-md-12">
        <section>
            <h2>Manage your details/settings</h2>
            <hr />
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills bg-light border-bottom box-shadow mb-3 flex-column">
            <li class="nav-item">
                <a id="linkShowAccountDetails" class="nav-link text-dark" asp-page-handler="ShowAccountDetails">Account details</a>
            </li>
            <li class="nav-item">
                <a id="linkShowPersonalDetails" class="nav-link text-dark" asp-page-handler="ShowPersonalDetails">Personal details</a>
            </li>
            <li class="nav-item">
                <a id="linkShowContactDetails" class="nav-link text-dark" asp-page-handler="ShowContactDetails" type="submit">Contact details</a>
            </li>
            <li class="nav-item">
                <a id="linkShowAddressDetails" class="nav-link text-dark" asp-page-handler="ShowAddressDetails" type="submit">Address details</a>
            </li>
            <li class="nav-item">
                <a id="linkShowDeleteDetails" class="nav-link text-dark" asp-page-handler="ShowDeleteDetails" type="submit">Delete account</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        @if (Model.ShowAccountDetails)
        {
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <h3>Account details</h3>
                        <form id="showAccountDetailsForm" method="get">
                            <div class="form-floating mb-3 input-group">
                                <input asp-for="CurrentUser.Email" class="form-control" disabled />
                                <label asp-for="CurrentUser.Email" class="form-label"></label>
                            </div>
                        </form>
                        <br />
                        @if (!Model.VerificationCodeSent)
                        {
                            <form id="editAccountDetailsForm" method="post">
                                <h3>Update account details</h3>
                                <div class="alert alert-info">
                                    <strong>Info: </strong>
                                    <p>When updating any of your account details Two-Factor Authentication (2FA) is implemented.</p>
                                    <p>Update your account details and click the "Request verification code" button to recieve an email containing your code.</p>
                                </div>
                                <br />
                                <div class="alert alert-info">
                                    <strong>Info: </strong>
                                    <p>Your password must meet the following requirements:</p>
                                    <ul>
                                        <li>At least 1 number</li>
                                        <li>At least 1 special character</li>
                                        <li>At least 1 uppercase letter</li>
                                        <li>At least 1 lowercase letter</li>
                                        <li>At least 8 characters in total</li>
                                    </ul>
                                </div>
                                <br />
                                @if (Model.UpdateSuccess)
                                {
                                    <div class="alert alert-success alert-dismissible">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                        <strong>Success: </strong>
                                        <p>Account details have been successfully updated.</p>
                                    </div>
                                }
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert">
                                    <span><strong>Please review and correct the following errors:</strong></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="AccountDetailsInput.NewEmail" class="form-control" autocomplete="email" placeholder="Enter new email" />
                                    <label asp-for="AccountDetailsInput.NewEmail" class="form-label"></label>
                                    <span asp-validation-for="AccountDetailsInput.NewEmail" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="AccountDetailsInput.NewPassword" class="form-control" autocomplete="newPassword" placeholder="Enter your new password" />
                                    <label asp-for="AccountDetailsInput.NewPassword" class="form-label"></label>
                                    <span asp-validation-for="AccountDetailsInput.NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="AccountDetailsInput.ConfirmPassword" class="form-control" autocomplete="newPassword" placeholder="Confirm your new password" />
                                    <label asp-for="AccountDetailsInput.ConfirmPassword" class="form-label"></label>
                                    <span asp-validation-for="AccountDetailsInput.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="btn-group">
                                    <button id="btnCancelRequestVerificationCode" asp-page-handler="CancelAccountDetailsUpdate" type="submit" class="btn btn-lg btn-outline-secondary"><i class="fa-solid fa-ban"></i> Cancel</button>
                                    &nbsp;
                                    <button id="btnVerificationCode" asp-page-handler="RequestVerificationCode" type="submit" class="btn btn-lg btn-outline-primary"><i class="fa-regular fa-envelope"></i> Request verification code</button>
                                </div>
                            </form>
                        }
                        @if (Model.VerificationCodeSent)
                        {
                            <form id="verificationCodeForm" method="post">
                                <h3>Enter your verification code below</h3>
                                <div class="alert alert-info">
                                    <strong>Info: </strong>
                                    <p>You should receive an email containing your verification code within the next few minutes. Please check your spam/junk folder.</p>
                                    <p>If you have updated your email address please check your new email address inbox and spam/junk folder.</p>
                                    <p>Enter the code below to and click the "Update" button to save your changes.</p>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert">
                                    <span><strong>Please review and correct the following errors:</strong></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="VerificationCodeInput.VerificationCode" class="form-control" autocomplete="off" aria-required="true" placeholder="verification code" />
                                    <label asp-for="VerificationCodeInput.VerificationCode" class="form-label">Verification Code</label>
                                    <span asp-validation-for="VerificationCodeInput.VerificationCode" class="text-danger"></span>
                                </div>
                                <div class="btn-group">
                                    <button id="btnCancelAccountDetailsUpdate" asp-page-handler="CancelAccountDetailsUpdate" type="submit" class="btn btn-lg btn-outline-secondary"><i class="fa-solid fa-ban"></i> Cancel</button>
                                    &nbsp;
                                    <button id="btnUpdateAccountDetails" asp-page-handler="UpdateAccountDetails" type="submit" class="btn btn-lg btn-outline-success"><i class="fa-regular fa-circle-check"></i> Update</button>
                                </div>
                            </form>
                        }
                    </section>
                    <br />
                </div>
            </div>
        }
        @if (Model.ShowPersonalDetails)
        {
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <h3>Personal details</h3>
                        <form id="showPersonalDetailsForm" method="get">
                            <div class="form-floating mb-3 input-group">
                                <input asp-for="CurrentUser.Prefix" class="form-control" disabled />
                                <label asp-for="CurrentUser.Prefix" class="form-label"></label>
                            </div>
                            <div class="form-floating mb-3 input-group">
                                <input asp-for="CurrentUser.FirstName" class="form-control" disabled />
                                <label asp-for="CurrentUser.FirstName" class="form-label"></label>
                            </div>
                            <div class="form-floating mb-3 input-group">
                                <input asp-for="CurrentUser.LastName" class="form-control" disabled />
                                <label asp-for="CurrentUser.LastName" class="form-label"></label>
                            </div>
                            <span class="form-label">Date of birth</span>
                            <div class="form-floating mb-3 input-group">
                                <div class="col-2">
                                    <div class="form-floating mb-3 input-group">
                                        <input asp-for="DayDOB" class="form-control" disabled />
                                        <label asp-for="DayDOB" class="form-label"></label>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="col-2">
                                    <div class="form-floating mb-3 input-group">
                                        <input asp-for="MonthDOB" class="form-control" disabled />
                                        <label asp-for="MonthDOB" class="form-label"></label>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="col-4">
                                    <div class="form-floating mb-3 input-group">
                                        <input asp-for="YearDOB" class="form-control" disabled />
                                        <label asp-for="YearDOB" class="form-label"></label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br />
                        <form id="editPersonalDetailsForm" method="post">
                            <h3>Update personal details</h3>
                            @if (Model.UpdateSuccess)
                            {
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    <strong>Success: </strong>
                                    <p>Personal details have been successfully updated.</p>
                                </div>
                            }
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert">
                                <span><strong>Please review and correct the following errors:</strong></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="PersonalDetailsInput.Prefix" class="form-control" autocomplete="title" placeholder="Enter new title" />
                                <label asp-for="PersonalDetailsInput.Prefix" class="form-label"></label>
                                <span asp-validation-for="PersonalDetailsInput.Prefix" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="PersonalDetailsInput.FirstName" class="form-control" autocomplete="firstName" placeholder="Enter new first name" />
                                <label asp-for="PersonalDetailsInput.FirstName" class="form-label"></label>
                                <span asp-validation-for="PersonalDetailsInput.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="PersonalDetailsInput.LastName" class="form-control" autocomplete="lastName" placeholder="Enter new last name" />
                                <label asp-for="PersonalDetailsInput.LastName" class="form-label"></label>
                                <span asp-validation-for="PersonalDetailsInput.LastName" class="text-danger"></span>
                            </div>
                            <span class="form-label">New date of birth</span>
                            <div class="form-floating mb-3 input-group">
                                <div class="col-2">
                                    <div class="form-floating mb-3 input-group">
                                        <input asp-for="PersonalDetailsInput.DayDOB" class="form-control" autocomplete="day" placeholder="Enter new day" type="text" />
                                        <label asp-for="PersonalDetailsInput.DayDOB" class="form-label"></label>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="col-2">
                                    <div class="form-floating mb-3 input-group">
                                        <input asp-for="PersonalDetailsInput.MonthDOB" class="form-control" autocomplete="month" placeholder="Enter new month" type="text" />
                                        <label asp-for="PersonalDetailsInput.MonthDOB" class="form-label"></label>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="col-4">
                                    <div class="form-floating mb-3 input-group">
                                        <input asp-for="PersonalDetailsInput.YearDOB" class="form-control" autocomplete="year" placeholder="Enter new year" type="text" />
                                        <label asp-for="PersonalDetailsInput.YearDOB" class="form-label"></label>
                                    </div>
                                </div>
                                <span asp-validation-for="PersonalDetailsInput.DayDOB" class="text-danger"></span>
                                <span asp-validation-for="PersonalDetailsInput.MonthDOB" class="text-danger"></span>
                                @if (Model.InValidYearDOB)
                                {
                                    <span asp-validation-for="PersonalDetailsInput.YearDOB" class="text-danger">@Model.InValidYearDOBMessage</span>
                                }
                                @if (!Model.ValidDOB)
                                {
                                    <span class="text-danger">New date of birth must contain day, month, and year</span>
                                }
                            </div>
                            <div class="btn-group">
                                <button id="btnCancelPersonalDetailsUpdate" asp-page-handler="CancelPersonalDetailsUpdate" type="submit" class="btn btn-lg btn-outline-secondary"><i class="fa-solid fa-ban"></i> Cancel</button>
                                &nbsp;
                                <button id="btnUpdatePersonalDetails" asp-page-handler="UpdatePersonalDetails" type="submit" class="btn btn-lg btn-outline-success"><i class="fa-regular fa-circle-check"></i> Update</button>
                            </div>
                        </form>
                    </section>
                    <br />
                </div>
            </div>            
        }
        @if (Model.ShowContactDetails)
        {
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <h3>Contact details</h3>
                        <form id="showContactDetailsForm" method="get">
                            <div class="form-floating mb-3 input-group">
                                <input asp-for="CurrentUser.ContactNumber" class="form-control" disabled />
                                <label asp-for="CurrentUser.ContactNumber" class="form-label"></label>
                            </div>
                        </form>
                        <br />
                        <form id="editContactDetailsForm" method="post">
                            <h3>Update contact details</h3>
                            @if (Model.UpdateSuccess)
                            {
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    <strong>Success: </strong>
                                    <p>Contact details have been successfully updated.</p>
                                </div>
                            }
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert">
                                <span><strong>Please review and correct the following errors:</strong></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="ContactDetailsInput.ContactNumber" class="form-control" autocomplete="phone" placeholder="Enter new contact number" />
                                <label asp-for="ContactDetailsInput.ContactNumber" class="form-label"></label>
                                <span asp-validation-for="ContactDetailsInput.ContactNumber" class="text-danger"></span>
                            </div>
                            <div class="btn-group">
                                <button id="btnCancelContactDetailsUpdate" asp-page-handler="CancelContactDetailsUpdate" type="submit" class="btn btn-lg btn-outline-secondary"><i class="fa-solid fa-ban"></i> Cancel</button>
                                &nbsp;
                                <button id="btnUpdateContactDetails" asp-page-handler="UpdateContactDetails" type="submit" class="btn btn-lg btn-outline-success"><i class="fa-regular fa-circle-check"></i> Update</button>
                            </div>
                        </form>
                    </section>
                    <br />
                </div>
            </div>
        }
        @if (Model.ShowAddressDetails)
        {
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <h3>Address details</h3>
                        <form id="showAddressDetailsForm" method="get">
                            <div class="col-sm-4">
                                <div class="form-floating mb-3 input-group">
                                    <input asp-for="CurrentUser.Postcode" class="form-control" disabled />
                                    <label asp-for="CurrentUser.Postcode" class="form-label"></label>
                                </div>
                            </div>
                            <div class="form-floating mb-3 input-group">
                                <input asp-for="CurrentUser.AddressLine1" class="form-control" disabled />
                                <label asp-for="CurrentUser.AddressLine1" class="form-label"></label>
                            </div>
                            <div class="form-floating mb-3 input-group">
                                <input asp-for="CurrentUser.AddressLine2" class="form-control" disabled />
                                <label asp-for="CurrentUser.AddressLine2" class="form-label"></label>
                            </div>
                            <div class="form-floating mb-3 input-group">
                                <input asp-for="CurrentUser.AddressLine3" class="form-control" disabled />
                                <label asp-for="CurrentUser.AddressLine3" class="form-label"></label>
                            </div>
                        </form>
                        <br />
                        <form id="editAddressDetailsForm" method="post">
                            <h3>Update address details</h3>
                            @if (Model.UpdateSuccess)
                            {
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    <strong>Success: </strong>
                                    <p>Address details have been successfully updated.</p>
                                </div>
                            }
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert">
                                <span><strong>Please review and correct the following errors:</strong></span>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-floating mb-3">
                                    <input asp-for="AddressDetailsInput.Postcode" class="form-control" autocomplete="postcode" placeholder="Enter new postcode" />
                                    <label asp-for="AddressDetailsInput.Postcode" class="form-label"></label>
                                </div>
                            </div>
                            <span asp-validation-for="AddressDetailsInput.Postcode" class="text-danger"></span>
                            <div class="form-floating mb-3">
                                <input asp-for="AddressDetailsInput.AddressLine1" class="form-control" autocomplete="address1" placeholder="Enter new address line 1" />
                                <label asp-for="AddressDetailsInput.AddressLine1" class="form-label"></label>
                                <span asp-validation-for="AddressDetailsInput.AddressLine1" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="AddressDetailsInput.AddressLine2" class="form-control" autocomplete="address2" placeholder="Enter new address line 2" />
                                <label asp-for="AddressDetailsInput.AddressLine2" class="form-label"></label>
                                <span asp-validation-for="AddressDetailsInput.AddressLine2" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="AddressDetailsInput.AddressLine3" class="form-control" autocomplete="address3" placeholder="Enter new address line 3" />
                                <label asp-for="AddressDetailsInput.AddressLine3" class="form-label"></label>
                                <span asp-validation-for="AddressDetailsInput.AddressLine3" class="text-danger"></span>
                            </div>
                            <div class="btn-group">
                                <button id="btnCancelAddressDetailsUpdate" asp-page-handler="CancelAddressDetailsUpdate" type="submit" class="btn btn-lg btn-outline-secondary"><i class="fa-solid fa-ban"></i> Cancel</button>
                                &nbsp;
                                <button id="btnUpdateAddressDetails" asp-page-handler="UpdateAddressDetails" type="submit" class="btn btn-lg btn-outline-success"><i class="fa-regular fa-circle-check"></i> Update</button>
                            </div>
                        </form>
                    </section>
                    <br />
                </div>
            </div>
        }
        @if (Model.ShowDeleteDetails)
        {
            <div class="row">
                <div class="col-md-6">
                    <section>
                        @if (!Model.ShowDeleteDetailsSure)
                        {
                            <h3>Delete account</h3>
                            <form id="deleteAccount" method="post">
                                <div class="alert alert-warning">
                                    <strong>Warning: </strong>
                                    <p>By deleting your account you will no longer be able to log in to the application.</p>
                                </div>
                                <div class="btn-group">
                                    <button id="btnDeleteAccount" asp-page-handler="DeleteAccount" type="submit" class="btn btn-lg btn-outline-danger"><i class="fa-regular fa-trash-can"></i> Delete account</button>
                                </div>
                            </form>
                        }
                        @if (Model.ShowDeleteDetailsSure)
                        {
                            <h3>Are you sure you want to delete your account?</h3>
                            <form id="deleteAccountSure" method="post">
                                <div class="alert alert-info">
                                    <strong>Info:</strong>
                                    <p>The following details will be deleted from the database:</p>
                                    <ul>
                                        <li>Account details</li>
                                        <li>Personal details</li>
                                        <li>Contact details</li>
                                        <li>Address details</li>
                                    </ul>
                                </div>
                                <div class="alert alert-danger">
                                    <strong>Are you sure you want to delete your account?</strong>
                                    <p>You will not be able to undo this action.</p>
                                </div>
                                <div class="btn-group">
                                    <button id="btnCancelDeleteAccount" asp-page-handler="CancelDeleteAccount" type="submit" class="btn btn-lg btn-outline-secondary"><i class="fa-solid fa-ban"></i> Cancel</button>
                                    &nbsp;
                                    <button id="btnDeleteAccountSure" asp-page-handler="DeleteAccountSure" type="submit" class="btn btn-lg btn-outline-danger"><i class="fa-regular fa-trash-can"></i> Delete account</button>
                                </div>
                            </form>
                        }
                    </section>
                    <br />
                </div>
            </div>
        }
    </div>
</div>