@page
@model DFI.FaultReporting.Public.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<br />
<div class="row">
    <div class="col-md-12">
        <section>
            @if (!Model.VerificationCodeSent)
            {
                <form id="registerForm" method="post">
                    <h2>Enter your details below</h2>
                    <hr />
                    <div class="alert alert-info">
                        <strong>Info: </strong>
                        <p>This application implements Two-Factor Authentication (2FA).</p>
                        <p>
                            Enter your details below and click the "Request Verification Code"
                            button to recieve an email containing your code.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert">
                                <span><strong>Please review and correct the following errors:</strong></span>
                            </div>
                            <br />
                            <h3>Account details</h3>
                            <div class="form-floating mb-3">
                                <input asp-for="RegistrationRequest.Email" class="form-control" autocomplete="email" placeholder="Enter email" required />
                                <label asp-for="RegistrationRequest.Email" class="form-label"></label>
                                <span asp-validation-for="RegistrationRequest.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="RegistrationRequest.Password" class="form-control" autocomplete="password" placeholder="Enter password" required />
                                <label asp-for="RegistrationRequest.Password" class="form-label"></label>
                                <span asp-validation-for="RegistrationRequest.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="RegistrationRequest.ConfirmPassword" class="form-control" autocomplete="password" placeholder="Confirm password" required />
                                <label asp-for="RegistrationRequest.ConfirmPassword" class="form-label"></label>
                                <span asp-validation-for="RegistrationRequest.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <br />
                            <h3>Personal details</h3>
                            <div class="form-floating mb-3">
                                <input asp-for="RegistrationRequest.Prefix" class="form-control" autocomplete="title" placeholder="Enter title" required />
                                <label asp-for="RegistrationRequest.Prefix" class="form-label"></label>
                                <span asp-validation-for="RegistrationRequest.Prefix" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="RegistrationRequest.FirstName" class="form-control" autocomplete="firstName" placeholder="Enter first name" required />
                                <label asp-for="RegistrationRequest.FirstName" class="form-label"></label>
                                <span asp-validation-for="RegistrationRequest.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="RegistrationRequest.LastName" class="form-control" autocomplete="lastName" placeholder="Enter last name" required />
                                <label asp-for="RegistrationRequest.LastName" class="form-label"></label>
                                <span asp-validation-for="RegistrationRequest.LastName" class="text-danger"></span>
                            </div>
                            <span class="form-label">Date of birth</span>
                            <div class="form-floating mb-3 input-group">
                                <div class="col-2">
                                    <div class="form-floating mb-3 input-group">
                                        <input asp-for="RegistrationRequest.DayDOB" class="form-control" autocomplete="day" placeholder="Enter new day" type="text" required />
                                        <label asp-for="RegistrationRequest.DayDOB" class="form-label"></label>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="col-2">
                                    <div class="form-floating mb-3 input-group">
                                        <input asp-for="RegistrationRequest.MonthDOB" class="form-control" autocomplete="month" placeholder="Enter month" type="text" required />
                                        <label asp-for="RegistrationRequest.MonthDOB" class="form-label"></label>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="col-4">
                                    <div class="form-floating mb-3 input-group">
                                        <input asp-for="RegistrationRequest.YearDOB" class="form-control" autocomplete="year" placeholder="Enter year" type="text" required />
                                        <label asp-for="RegistrationRequest.YearDOB" class="form-label"></label>
                                    </div>
                                </div>
                                <span asp-validation-for="RegistrationRequest.DayDOB" class="text-danger"></span>
                                <span asp-validation-for="RegistrationRequest.MonthDOB" class="text-danger"></span>
                                @if (Model.InValidYearDOB)
                                {
                                    <span asp-validation-for="RegistrationRequest.YearDOB" class="text-danger">@Model.InValidYearDOBMessage</span>
                                }
                                @if (!Model.ValidDOB)
                                {
                                    <span class="text-danger">New date of birth must contain day, month, and year</span>
                                }
                            </div>
                            <br />
                            <h3>Contact details</h3>
                            <div class="form-floating mb-3">
                                <input asp-for="RegistrationRequest.ContactNumber" class="form-control" autocomplete="phone" placeholder="Enter contact number" required />
                                <label asp-for="RegistrationRequest.ContactNumber" class="form-label"></label>
                                <span asp-validation-for="RegistrationRequest.ContactNumber" class="text-danger"></span>
                            </div>
                            <br />
                            <h3>Address details</h3>
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input asp-for="RegistrationRequest.Postcode" class="form-control" autocomplete="postcode" placeholder="Enter postcode" required />
                                    <label asp-for="RegistrationRequest.Postcode" class="form-label"></label>
                                </div>
                            </div>
                            <span asp-validation-for="RegistrationRequest.Postcode" class="text-danger"></span>
                            <div class="form-floating mb-3">
                                <input asp-for="RegistrationRequest.AddressLine1" class="form-control" autocomplete="address1" placeholder="Enter address line 1" required />
                                <label asp-for="RegistrationRequest.AddressLine1" class="form-label"></label>
                                <span asp-validation-for="RegistrationRequest.AddressLine1" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="RegistrationRequest.AddressLine2" class="form-control" autocomplete="address2" placeholder="Enter address line 2" />
                                <label asp-for="RegistrationRequest.AddressLine2" class="form-label"></label>
                                <span asp-validation-for="RegistrationRequest.AddressLine2" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="RegistrationRequest.AddressLine3" class="form-control" autocomplete="address3" placeholder="Enter address line 3" />
                                <label asp-for="RegistrationRequest.AddressLine3" class="form-label"></label>
                                <span asp-validation-for="RegistrationRequest.AddressLine3" class="text-danger"></span>
                            </div>
                            <div>
                                <button id="btnVerificationCode" asp-page-handler="RequestVerificationCode" type="submit" class="btn btn-lg btn-outline-primary"><i class="fa-regular fa-envelope"></i> Request verification code</button>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </section>
        <br />
        <section>
            @if (Model.VerificationCodeSent)
            {
                <form id="verificationCodeForm" method="post">
                    <h2>Enter your verification code below</h2>
                    <hr />
                    <div class="alert alert-info">
                        <strong>Info: </strong>
                        <p>You should receive an email containing your verification code within the next few minutes.</p>
                        <p>
                            Please check your spam/junk folder.
                            Enter the code below to log in.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="VerificationCodeInput.VerificationCode" class="form-control" autocomplete="off" aria-required="true" placeholder="verification code" />
                                <label asp-for="VerificationCodeInput.VerificationCode" class="form-label">Verification Code</label>
                                <span asp-validation-for="VerificationCodeInput.VerificationCode" class="text-danger"></span>
                            </div>
                            <div class="btn-group">
                                <button id="btnCancelRegister" asp-page-handler="CancelRegister" type="submit" class="btn btn-lg btn-outline-secondary"><i class="fa-solid fa-ban"></i> Cancel</button>
                                &nbsp;
                                <button id="btnRegister" asp-page-handler="Register" type="submit" class="btn btn-lg btn-outline-success"><i class="fa-regular fa-circle-check"></i> Register</button>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </section>
    </div>
</div>