@page
@model DFI.FaultReporting.Public.Pages.Jobs.AddImageModel
@{
    ViewData["Title"] = "Add images";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>Upload photos of job</h2>
    <hr />
    <div class="alert alert-info">
        <strong>Info: </strong>
        <p>You are not required to upload any photos, however doing so will help us identify and prioritise the fault.</p>
        <p>You may upload a maximum of 5 photos.</p>
    </div>
    <form id="photoUploadForm" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert">
            <span><strong>Please review and correct the following errors:</strong></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-floating mb-3">
                    <input id="fileUpload" name="SelectedFile" type="file" />
                    <label asp-for="SelectedFile" for="fileUpload" class="form-label" hidden>Upload photo</label>
                    <br />
                    <br />
                    <button id="uploadbutton" type="submit" class="btn btn-lg btn-outline-primary" asp-page-handler="Upload"><i class="fa-solid fa-upload"></i> Upload</button>
                    <br />
                    <span asp-validation-for="SelectedFile" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            @{
                if (Model.RepairPhotos != null)
                {
                    foreach (var photo in Model.RepairPhotos)
                    {
                        <div class="col-md-2 text-center">
                            <img src="data:image/@photo.Type;base64,@photo.Data" class="img-thumbnail" />
                            <br />
                            <br />
                            <button id="btnRemovePhoto" name="removePhotoValue" value="@photo.Description" asp-page-handler="RemovePhoto" type="submit" class="btn btn-lg btn-outline-danger"><i class="fa-regular fa-trash-can"></i></button>
                            <br />
                            <br />
                        </div>
                    }
                }
            }
        </div>
        <br />
        <div class="btn-group">
            <button id="btnBack" asp-page-handler="Back" type="submit" class="btn btn-lg btn-outline-secondary"><i class="fa-regular fa-circle-left"></i> Back</button>
            &nbsp;
            <button id="btnSubmit" asp-page-handler="SubmitPhotos" type="submit" class="btn btn-lg btn-outline-success"><i class="fa-regular fa-circle-check"></i> Submit</button>
        </div>
    </form>
</div>
