@page
@model DFI.FaultReporting.Admin.Pages.Faults.EditFaultModel
@{
    ViewData["Title"] = "Edit fault";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Fault Reporting edit fault">
<meta name="theme-color" content="#142062" />

<body onload="initReviewMap()">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <br />
        <h2>Edit the details of fault</h2>
        <hr />
        <form id="faultDetailsForm" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-center">
                        <div id="reviewMap" style="height: 500px; width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            <br />
            @if (Model.UpdateSuccess)
            {
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>Success: </strong>
                    <p>Fault details have been successfully updated.</p>
                </div>
            }
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                        <span><strong>Please review and correct the following errors:</strong></span>
                    </div>
                    <input type="hidden" asp-for="Fault.ID" />
                    <input type="hidden" asp-for="Fault.StaffID" />
                    <div class="form-floating mb-3" hidden>
                        <input id="lat" asp-for="Fault.Latitude" class="form-control" />
                        <label asp-for="Fault.Latitude" class="control-label"></label>
                        <span asp-validation-for="Fault.Latitude" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3" hidden>
                        <input id="long" asp-for="Fault.Longitude" class="form-control" />
                        <label asp-for="Fault.Longitude" class="control-label"></label>
                        <span asp-validation-for="Fault.Longitude" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="Fault.FaultTypeID" class="form-select" asp-items="Model.FaultTypesList">
                        </select>
                        <label asp-for="Fault.FaultTypeID" class="form-label"></label>
                        <span asp-validation-for="Fault.FaultTypeID" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="Fault.FaultStatusID" class="form-select" asp-items="Model.FaultStatusList">
                        </select>
                        <label asp-for="Fault.FaultStatusID" class="form-label"></label>
                        <span asp-validation-for="Fault.FaultStatusID" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="Fault.FaultPriorityID" class="form-select" asp-items="Model.FaultPriorityList">
                        </select>
                        <label asp-for="Fault.FaultPriorityID" class="form-label"></label>
                        <span asp-validation-for="Fault.FaultPriorityID" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Fault.RoadNumber" class="form-control" />
                        <label asp-for="Fault.RoadNumber" class="control-label"></label>
                        <span asp-validation-for="Fault.RoadNumber" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Fault.RoadName" class="form-control" />
                        <label asp-for="Fault.RoadName" class="control-label"></label>
                        <span asp-validation-for="Fault.RoadName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Fault.RoadTown" class="form-control" />
                        <label asp-for="Fault.RoadTown" class="control-label"></label>
                        <span asp-validation-for="Fault.RoadTown" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Fault.RoadCounty" class="form-control" />
                        <label asp-for="Fault.RoadCounty" class="control-label"></label>
                        <span asp-validation-for="Fault.RoadCounty" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3" hidden>
                        <input asp-for="Fault.InputBy" class="form-control" />
                        <label asp-for="Fault.InputBy" class="control-label"></label>
                        <span asp-validation-for="Fault.InputBy" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3" hidden>
                        <input asp-for="Fault.InputOn" class="form-control" />
                        <label asp-for="Fault.InputOn" class="control-label"></label>
                        <span asp-validation-for="Fault.InputOn" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3" hidden>
                        <input asp-for="Fault.Active" class="form-control" />
                        <label asp-for="Fault.Active" class="control-label"></label>
                        <span asp-validation-for="Fault.Active" class="text-danger"></span>
                    </div>
                    <div class="btn-group">
                        <a asp-page="./Faults" class="btn btn-lg btn-outline-secondary"><i class="fa-regular fa-circle-left"></i> Back</a>
                        &nbsp;
                        <button type="submit" class="btn btn-lg btn-outline-success"><i class="fa-regular fa-circle-check"></i> Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br />
</body>

<script src="~/js/mapping/ReviewMap.js"></script>