@page
@model DFI.FaultReporting.Admin.Pages.Repairs.FullScreenImageModel
@{
    ViewData["Title"] = "Repair image";
}
@{
    <div class="container">
        <div class="col-md-12">
            <div class="row text-center">
                <img src="data:image/@Model.RepairPhoto.Type;base64,@Model.RepairPhoto.Data" style="max-width: 100%; max-height: 100%;" />
            </div>
        </div>
    </div>
    <br />
}

