@page
@model DFI.FaultReporting.Admin.Pages.Repairs.RepairImagesModel
@{
    ViewData["Title"] = "Repair images";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>Images uploaded for the selected repair</h2>
    <hr />
    <div class="col-12">
        <div class="row">
            @{
                if (Model.SelectedRepairPhotos != null)
                {
                    foreach (var photo in Model.SelectedRepairPhotos)
                    {
                        <div class="col-sm-6 col-md-4 text-center">
                            <img src="data:image/@photo.Type;base64,@photo.Data" class="img-thumbnail" />
                            <br />
                            <br />
                            <a asp-page="/Repairs/FullScreenImage" asp-route-id="@photo.ID" target="_blank" class="btn btn-lg btn-outline-primary"><i class="fa-solid fa-expand"></i></a>
                            <br />
                            <br />
                        </div>
                    }
                }

                if (Model.SelectedRepairPhotos == null || Model.SelectedRepairPhotos.Count == 0)
                {
                    <div class="alert alert-info">
                        <strong>Info: </strong>
                        <p>No images have been uploaded for this repair.</p>
                    </div>
                }
            }
        </div>
    </div>
    <br />
</div>
