@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <h1>DFI Fault Reporting</h1>
    <br />
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="small-tile">
                <a class="nav-link" aria-label="Faults menu link" title="Faults" asp-page="/Faults/FaultsMenu">Faults</a>
            </div>
        </div>
    </div>
    @{
        if (User.Identity.IsAuthenticated == false || User.Identity.IsAuthenticated == true && User.IsInRole("User"))
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="small-tile">
                        <a class="nav-link" aria-label="Claims link" title="Claims" asp-page="">Claims</a>
                    </div>
                </div>
            </div>
        }

        if (User.Identity.IsAuthenticated == true && User.IsInRole("Contractor"))
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="small-tile">
                        <a class="nav-link" aria-label="Jobs link" title="Jobs" asp-page="">Jobs</a>
                    </div>
                </div>
            </div>
        }
    }
    @{
        if (User.Identity.IsAuthenticated == true)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="small-tile">
                        <a class="nav-link" aria-label="My account link" title="Account details" asp-page="/Account/Details">Account</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="small-tile">
                        <a class="nav-link" aria-label="Logout link" title="Logout" asp-page="/Account/Logout">Logout</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="small-tile">
                        <a class="nav-link" aria-label="Login link" title="Login" asp-page="/Account/Login">Login</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="small-tile">
                        <a class="nav-link" aria-label="Register link" title="Register" asp-page="/Account/Register">Register</a>
                    </div>
                </div>
            </div>
        }
    }
</div>