@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <h1>DFI Fault Reporting</h1>
    <br />
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="small-tile">
                <a class="nav-link" aria-label="Faults menu link" title="Faults" asp-page="/Faults/FaultsMenu"><i class="fa-solid fa-circle-exclamation"></i> Faults</a>
            </div>
        </div>
    </div>
    @{
        if (User.Identity.IsAuthenticated == false || User.Identity.IsAuthenticated == true && User.IsInRole("User"))
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="small-tile">
                        <a class="nav-link" aria-label="Claims link" title="Claims" asp-page=""><i class="fa-solid fa-file-pen"></i> Claims</a>
                    </div>
                </div>
            </div>
        }

        if (User.Identity.IsAuthenticated == true && User.IsInRole("Contractor"))
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="small-tile">
                        <a class="nav-link" aria-label="Jobs link" title="Jobs" asp-page=""><i class="fa-solid fa-screwdriver-wrench"></i> Jobs</a>
                    </div>
                </div>
            </div>
        }
    }
    @{
        if (User.Identity.IsAuthenticated == true)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="small-tile">
                        <a class="nav-link" aria-label="My account link" title="Account details" asp-page="/Account/Details"><i class="fa-solid fa-user"></i> Account</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="small-tile">
                        <a class="nav-link" aria-label="Logout link" title="Logout" asp-page="/Account/Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="small-tile">
                        <a class="nav-link" aria-label="Register link" title="Register" asp-page="/Account/Register/Register"><i class="fa-solid fa-user-plus"></i> Register</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="small-tile">
                        <a class="nav-link" aria-label="Login link" title="Login" asp-page="/Account/Login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
                    </div>
                </div>
            </div>
        }
    }
</div>