@page
@model DFI.FaultReporting.Public.Pages.NoPermissionModel
@{
    ViewData["Title"] = "No permission";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Fault Reporting no permission">
<meta name="theme-color" content="#142062" />

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>You cannot access this page</h2>
    <hr />
    <div class="alert alert-warning">
        <strong>Warning: </strong>
        <p>You do not have permission to view this page. You must be a registered user and be logged in to proceed.</p>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="small-tile">
                <a class="nav-link" aria-label="Register link" title="Register" asp-page="/Account/Register"><i class="fa-solid fa-user-plus"></i> Register</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="small-tile">
                <a class="nav-link" aria-label="Login link" title="Login" asp-page="/Account/Login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
            </div>
        </div>
    </div>
</div>