@page
@model DFI.FaultReporting.Public.Pages.Faults.FaultsModel
@{
    ViewData["Title"] = "Faults";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>View all currently reported faults</h2>
    <hr />
</div>


