@page
@model DFI.FaultReporting.Public.Pages.Faults.MyFaultsModel
@{
    ViewData["Title"] = "My reports";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>View the fault reports you have made</h2>
    <hr />
    <div class="row">
        <div class="col-6 text-center">
            <div class="small-tile">
                <a class="nav-link" id="linkShowMapView" aria-label="Map view link" title="Map view" asp-page-handler="ShowMapView"><i class="fa-solid fa-map-location-dot"></i> Map</a>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="small-tile">
                <a class="nav-link" id="linkShowTableView" aria-label="Table view link" title="Table view" asp-page-handler="ShowTableView"><i class="fa-solid fa-table-list"></i> Table</a>
            </div>
        </div>
    </div>
</div>

