@page
@model DFI.FaultReporting.Public.Pages.Faults.MyFaultsModel
@{
    ViewData["Title"] = "My reports";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>View the fault reports you have made</h2>
    <hr />
</div>

