@page
@model DFI.FaultReporting.Public.Pages.Faults.ReportDetailsModel
@{
    ViewData["Title"] = "Report details";
}
<body onload="initReviewMap()">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <br />
        <h2>Details of your reported fault</h2>
        <hr />
    </div>
</body>
<script src="~/js/mapping/ReviewMap.js"></script>