@page
@model DFI.FaultReporting.Admin.Pages.Admin.StaffAdmin.CreateModel

@{
    ViewData["Title"] = "Add new staff member";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>Add new staff members</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="StaffInput.Email" class="form-control" />
                    <label asp-for="StaffInput.Email" class="control-label"></label>
                    <span asp-validation-for="StaffInput.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="StaffInput.Prefix" class="form-control" />
                    <label asp-for="StaffInput.Prefix" class="control-label"></label>
                    <span asp-validation-for="StaffInput.Prefix" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="StaffInput.FirstName" class="form-control" />
                    <label asp-for="StaffInput.FirstName" class="control-label"></label>
                    <span asp-validation-for="StaffInput.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="StaffInput.LastName" class="form-control" />
                    <label asp-for="StaffInput.LastName" class="control-label"></label>
                    <span asp-validation-for="StaffInput.LastName" class="text-danger"></span>
                </div>
                <div class="btn-group">
                    <a asp-page="./Index" class="btn btn-lg btn-outline-secondary"><i class="fa-regular fa-circle-left"></i> Back</a>
                    &nbsp;
                    <button type="submit" class="btn btn-lg btn-outline-success"><i class="fa-regular fa-circle-check"></i> Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@