@page
@model DFI.FaultReporting.Admin.Pages.Admin.StaffAdmin.EditModel

@{
    ViewData["Title"] = "Edit staff member";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Fault Reporting edit staff">
<meta name="theme-color" content="#142062" />

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>Edit the details of staff member</h2>
    <hr />
    @if (Model.UpdateSuccess)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Success: </strong>
            <p>Staff members details have been successfully updated.</p>
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                    <span><strong>Please review and correct the following errors:</strong></span>
                </div>
                <input type="hidden" asp-for="StaffInput.ID" />
                <div class="form-floating mb-3">
                    <input asp-for="StaffInput.Email" class="form-control" />
                    <label asp-for="StaffInput.Email" class="control-label"></label>
                    <span asp-validation-for="StaffInput.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="StaffInput.Prefix" class="form-control" />
                    <label asp-for="StaffInput.Prefix" class="control-label"></label>
                    <span asp-validation-for="StaffInput.Prefix" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="StaffInput.FirstName" class="form-control" />
                    <label asp-for="StaffInput.FirstName" class="control-label"></label>
                    <span asp-validation-for="StaffInput.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="StaffInput.LastName" class="form-control" />
                    <label asp-for="StaffInput.LastName" class="control-label"></label>
                    <span asp-validation-for="StaffInput.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="StaffInput.Active" class="form-select">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                    <label asp-for="StaffInput.Active" class="control-label"></label>
                    <span asp-validation-for="StaffInput.Active" class="text-danger"></span>
                </div>
                <div class="btn-group">
                    <a asp-page="./Index" class="btn btn-lg btn-outline-secondary"><i class="fa-regular fa-circle-left"></i> Back</a>
                    &nbsp;
                    <button type="submit" class="btn btn-lg btn-outline-success"><i class="fa-regular fa-circle-check"></i> Update</button>
                </div>
            </form>
        </div>
    </div>
</div>