@page
@model DFI.FaultReporting.Admin.Pages.Admin.FaultStatusAdmin.CreateModel

@{
    ViewData["Title"] = "Add new claim status";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>Add details of new claim status</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="FaultStatus.FaultStatusDescription" class="form-control" />
                    <label asp-for="FaultStatus.FaultStatusDescription" class="control-label"></label>
                    <span asp-validation-for="FaultStatus.FaultStatusDescription" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3" hidden>
                    <input asp-for="FaultStatus.InputBy" class="form-control" />
                    <label asp-for="FaultStatus.InputBy" class="control-label"></label>
                    <span asp-validation-for="FaultStatus.InputBy" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3" hidden>
                    <input asp-for="FaultStatus.InputOn" class="form-control" />
                    <label asp-for="FaultStatus.InputOn" class="control-label"></label>
                    <span asp-validation-for="FaultStatus.InputOn" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3" hidden>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="FaultStatus.Active" /> @Html.DisplayNameFor(model => model.FaultStatus.Active)
                    </label>
                </div>
                <div class="btn-group">
                    <a asp-page="./Index" class="btn btn-lg btn-outline-secondary"><i class="fa-regular fa-circle-left"></i> Back</a>
                    &nbsp;
                    <button type="submit" class="btn btn-lg btn-outline-success"><i class="fa-regular fa-circle-check"></i> Create</button>
                </div>
            </form>
        </div>
    </div>
</div>