@page
@model DFI.FaultReporting.Admin.Pages.Admin.RepairStatusAdmin.EditModel

@{
    ViewData["Title"] = "Edit repair status";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Fault Reporting edit repair status">
<meta name="theme-color" content="#142062" />

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>Edit the details of repair status</h2>
    <hr />
    @if (Model.UpdateSuccess)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Success: </strong>
            <p>Repair status details have been successfully updated.</p>
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RepairStatus.ID" />
                <div class="form-floating mb-3">
                    <input asp-for="RepairStatus.RepairStatusDescription" class="form-control" />
                    <label asp-for="RepairStatus.RepairStatusDescription" class="control-label"></label>
                    <span asp-validation-for="RepairStatus.RepairStatusDescription" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3" hidden>
                    <input asp-for="RepairStatus.InputBy" class="form-control" />
                    <label asp-for="RepairStatus.InputBy" class="control-label"></label>
                    <span asp-validation-for="RepairStatus.InputBy" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3" hidden>
                    <input asp-for="RepairStatus.InputOn" class="form-control" />
                    <label asp-for="RepairStatus.InputOn" class="control-label"></label>
                    <span asp-validation-for="RepairStatus.InputOn" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="RepairStatus.Active" class="form-select">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                    <label asp-for="RepairStatus.Active" class="control-label"></label>
                    <span asp-validation-for="RepairStatus.Active" class="text-danger"></span>
                </div>
                <div class="btn-group">
                    <a asp-page="./Index" class="btn btn-lg btn-outline-secondary"><i class="fa-regular fa-circle-left"></i> Back</a>
                    &nbsp;
                    <button type="submit" class="btn btn-lg btn-outline-success"><i class="fa-regular fa-circle-check"></i> Update</button>
                </div>
            </form>
        </div>
    </div>
</div>







@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@